@model TrialNetCore2.Models.Book

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Book</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" class="form-horizontal" role="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Judul" class="control-label"></label>
                <input asp-for="Judul" class="form-control" />
                <span asp-validation-for="Judul" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penulis" class="control-label"></label>
                <input asp-for="Penulis" class="form-control" />
                <span asp-validation-for="Penulis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Penerbit" class="control-label"></label>
                <input asp-for="Penerbit" class="form-control" />
                <span asp-validation-for="Penerbit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deskripsi" class="control-label"></label>
                <input asp-for="Deskripsi" class="form-control" />
                <span asp-validation-for="Deskripsi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gambar" class="control-label"></label>
                <input asp-for="Gambar" class="form-control" />
                <span asp-validation-for="Gambar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

